footer {
    background: var(--black);
    display: flex;
    padding: 50px 40px 110px 40px;
    justify-content: space-between;
}

.footer__links {
    margin-bottom: 30px;
}

.footer__address {
    color: white;
    line-height: 1.5em;
}

.footer__social_media {
    color: white;
    font-size: 1.25rem;
    line-height: 2;
    margin: 0 2rem 0 0;
}