.hero__section {
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.hero__container {
    text-transform: uppercase;
    height: 90vh;
    color: white;
    position: relative;
}

.hero__secondary_title {
    position: absolute;
    bottom: -20px;
    z-index: 3;
    background: darkred;
    padding: 10px 55px 10px 200px;
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0 100%);
    font-size: 20px;
}

.hero__bg_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero__bg_gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, #000000a6, transparent);
    z-index: 3;
}

.hero__bg_img {
    width: 100%;
    height: 100%;
}

.hero__content {
    position: absolute;
    z-index: 4;
    margin: 55px 0 0 55px;
}

.hero__subtitle {
    font-size: 30px;
    margin: 0;
}

.hero__title {
    font-size: 120px;
    margin: 0;
}

.hero__bg_video {
    position: absolute;
    top: 0;
    z-index: 2;
    margin-top: -210px;
}

.about_us__bg {
    background: url(../../assets/storefront_two_cars_far.jpg);
    background-size: cover;
    background-position: center bottom;
}

.sonax__bg {
    background: url(../../assets/sonax_header.webp);
    background-size: cover;
    background-position: top center;
}

.contact_us_bg {
    background: url(../../assets/store_front_blue.jpg);
    background-size: cover;
    background-position: top center;
}

.wax_bg {
    background: url(../../assets/wax_bg.jpg);
    background-size: cover;
    background-position: top center;
}

.polish_bg {
    background: url(../../assets/polish_bg.jpg);
    background-size: cover;
    background-position: top center;
}

.wash_bg {
    background: url(../../assets/services_wash.jpg);
    background-size: cover;
    background-position: top center;
}

.promotions_bg {
    background: url(../../assets/ferrari_inside_sonax.jpg);
    background-size: cover;
    background-position: top center;
}

@media only screen and (max-width: 375px) {
  .hero__subtitle {
      font-size: 18px;
  }

  .hero__title {
      font-size: 50px;
  }

  .hero__content {
      margin: 0;
      padding: 15vh 0 0;
  }

  .hero__section {
      align-items: start;
      padding: 0 20px;
  }
}