nav {
    background: var(--black);
    color: white;
    height: 94px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.desktop_nav__link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 16px;
    position: relative;
}

.desktop_nav__link_container:hover a::after {
    width: 100%;
}

.desktop_nav__link::after {
    position: absolute;
    top: calc(100% + 0.25em);
    left: 0;
    content: "";
    display: block;
    background-color: #fff;
    height: .5px;
    width: 0;
    transition: width .3s ease-in-out;
}

.desktop_nav__grow {
    flex-grow: 1;
}

.desktop_nav__logo {
    text-decoration: none;
    margin-left: 16px;
    color: white;
}