.contact__form {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.contact_us__map {
    margin-bottom: 150px;
}

h1.contact_us__map_title {
    text-align: center;
    text-transform: uppercase;
}

.contact_us__map_container {
    display: flex;
    justify-content: center;
    margin: 25px;
}

label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: bold;
    color: darkred;
}

p.contact_us__flex {
    display: flex;
    justify-content: space-between;
}

form {
    width: 600px;
}