.promotions_page__content {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vh;
    max-width: 1000px;
    flex-direction: column;
}

.promotions_page__promo {
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.yearlya_promo {
    background: url(../../assets/YearlyPolishingPackageA.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.yearlyb_promo {
    background: url(../../assets/YearlyPolishingPackageB.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}