.slide.active {
    width: 58vw;
}

.slide {
    display: inline-block;
    height: 100%;
    width: 40vw;
    will-change: width;
    background: transparent;
    transition: width .5s ease-out;
}

.skew {
    position: relative;
    transform: skew(-20deg);
    transform-origin: bottom left;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.skew-fix {
    transform: skew(20deg);
    height: 100%;
    width: 200%;
    transform-origin: bottom left;
    background-position: 50%;
    background-size: cover;
    background-color: #000;
    position: relative;
}

img {
    max-width: unset;
    width: auto;
    height: 100%;
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
}

body [data-srcset].img-loaded {
    opacity: 1;
}
body [data-srcset] {
    opacity: 0;
    transition: opacity .5s ease-out;
}

.desktop-slider-container {
    transition: transform 1s cubic-bezier(.13,.99,.18,.99);
    position: relative;
    background-color: #202020;
    line-height: 0;
    white-space: nowrap;
    overflow-x: hidden;
    display: block;
}

.slider {
    position: relative;
    height: 100vh;
    min-height: 680px;
    width: 100%;
    display: inline-block;
}

.slides {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    text-align: right;
    white-space: nowrap;
}

.slide .skew:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    opacity: 1;
    transition: opacity .5s ease-out;
}

.slide.active .skew:after {
    display: none;
}

.controls {
    flex: 0 0 29%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.slide-info {
    flex: 0 0 50%;
    text-align: left;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
}

.control-title {
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    text-transform: uppercase;
    font-weight: bold;
}

.slide-texts {
    background-color: transparent;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #fff;
    top: 0;
    left: 0;
    z-index: 10;
}

.ctrl-buttonset {
    margin-top: 23px;
}

button {
    background-color: transparent;
    border: none;
    padding-left: 0;
}

button svg {
    width: 3rem !important;
    height: 3rem !important;
}

.offset-1 {
    margin-left: 8.33333%;
}
.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.inner-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
}

a.hover svg.exagon .background, a:hover svg.exagon .background, button.hover svg.exagon .background, button:hover svg.exagon .background {
    fill: #181818;
}

.service-name {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    line-height: .9;
    letter-spacing: -3.5px;
    margin-bottom: 0;
}

.service-payoff {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: .64px;
    margin: 0;
    text-transform: uppercase;
}

.service-controls {
    display: flex;
    margin-top: 60px;
}

.button-wrapper.explore-models {
    display: flex;
}

.service-controls .button-wrapper {
    margin-right: 3.5vw;
    text-align: left;
    display: flex;
    align-items: center;
    min-width: 16rem;
    height: 45px;
    text-decoration: none;
}

.explore-models svg.exagon {
    width: auto;
}

.service-controls .button-wrapper span {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.44;
    letter-spacing: .32px;
    color: #fff;
}

.service-controls .button-wrapper svg {
    margin-right: 20px;
}


@media only screen and (max-width: 375px) {
  .desktop-slider-container {
    display: none;
  }
}