.featured__container {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.featured__red {
    width: 400px;
    height: 400px;
    background: darkred;
    transform: rotate(45deg);
}

.featured__top {
    position: absolute;
    top: -200px;
    left: -300px;
}

.featured__bottom {
    position: absolute;
    bottom: -200px;
    right: -300px;
}

h1.featured__title {
    text-align: center;
    margin: 0;
}

.featured__product {
    width: 100px;
    height: 240px;
    margin: 50px auto;
    background: url(../assets/leather_care.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.featured__more {
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 16px;
    position: relative;
    color: var(--black);
    text-align: center;
}

.featured__more::after {
    position: absolute;
    top: calc(100% + 0.25em);
    left: 0;
    content: "";
    display: block;
    background-color: #fff;
    height: .5px;
    width: 0;
    transition: width .3s ease-in-out;
}

.featured__more_container:hover a::after {
    width: 100%;
}

.featured__more_container {
    text-align: center;
}

.featured__prodcut_description {
    max-width: 500px;
    text-align: center;
    /* margin: 0 auto; */
    margin: initial auto;
    margin-left: auto;
    margin-right: auto;
}