.mobile__notice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
    opacity: 0;
    transition: opacity ease-in-out 250ms;
    width: 100vw;
    height: 100vh;
}

.mobile__notice > h1 {
    text-align: center;
    margin-top: 10px;
    max-width: 90vw;
}

@media only screen and (max-width: 650px) {
  .mobile__notice {
      opacity: 1;
      display: flex;
  }

  body {
      overflow: hidden;
  }
}